@model CampsiteDetail
@using System.Web

@using System
@using System.Xml
@using Glamp.Models.Services
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject ReviewsService revService




<style>
    .product-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>

@{
    ViewData["Title"] = "Campsite Details";
}



<style>
    .product-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>

@{
    var user = Context.User.Identity.Name;
}

@{
    ViewData["Title"] = "Campsite Details";
}



<div class="container-fluid">
    <div class="container" style="width:75%">
        <div class="product-container flex-column">

            <p>@Model.facility</p>
            <ul>

                @{
                    if (@Model.alert == null)
                    {
                        <li class="alert">@Html.Raw(HttpUtility.HtmlDecode(Model.alert))</li>
                    }

                    <li class="description">@Html.Raw(HttpUtility.HtmlDecode(Model.description))</li>

                    if (@Model.drivingDirections != null)
                    {
                        <li class="driving-directions">@Html.Raw(HttpUtility.HtmlDecode(Model.drivingDirections))</li>
                    }

                }

            </ul>
            <div>
                @*ViewData["id"] =  Model.facilityID;


                    <partial name="_reviews" model='new Reviews()' view-data="ViewData" />*@

                @*Html.Action("Reviews", new { FacilityID = Model.facilityID })*@

                @*Html.RenderPartial("ViewReviews", "Reviews", ViewData["id"]);*@

                <ul>
                    <li> @Html.Display("Reviews", new { FacilityID = Model.facilityID })</li>
                    @{var reviews = revService.GetReviews(Model.facilityID);}
                    @foreach (var item in reviews)
            {
                <li> Reviews: </li>
                <li>Title:  @item.Title</li>
                <li>Description:  @item.Description</li>
            }
                        
                </ul>

            </div>

            <div class="btn-div m-2">

                @if (user == null)
                {<a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Login to add to Favorites</a> }
                else
                {
                    @using (Html.BeginForm("InsertFavoriteToDatabase", "Favorites", "Post"))
                    {
                        <input type="hidden" asp-for="contractID" value="@Model.contractID" />
                        <input type="hidden" asp-for="facility" value="@Model.facility" />
                        <input type="hidden" asp-for="facilityID" value="@Model.facilityID" />
                        <input type="hidden" asp-for="user" value="@user" />
                        <input type="submit" class="btn btn-outline-success" value="Add to favorites" />
                    }

                    <div class="btn-div m-2">

                        <a class="navbar-brand" asp-area="" asp-route-user=@user asp-route-facilityID=@Model.facilityID asp-controller="Reviews" asp-action="Index">Add Review</a>
                    </div>
                    <div class="btn-div m-2">

                        <a class="navbar-brand" asp-area="" asp-route-facilityID=@Model.facilityID asp-controller="Reviews" asp-action="SeeReviews">Read Review</a>
                    </div>
                }

            </div>
            <div class="btn-div m-2">
                <a class="btn btn-success" href=@Model.fullReservationUrl>Make reservation!</a>
            </div>
        </div>
    </div>
</div>



