@using System
@using System.Xml
@model Campgrounds
@using Glamp.Models;

@*@model ViewModel*@

<style>
    .product-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>

<div class="container-fluid">
    <div class="container" style="width:75%">
        <div class="product-container">

            @{var campId = "50032"; }
            Check out this campsite!
            <a class="navbar-brand" asp-area="" asp-route-campId=@campId asp-controller="CampsiteDetail" asp-action="Index">Campsite Detail</a>


            @*@using (Html.BeginForm("Index", "Campgrounds", FormMethod.Post))
                {
                    <b>Select State: </b>
                    // @Html.DropDownList("SelectActivity", new SelectList(Dictionary<string, string>.GetValues(typeof(Campgrounds.activityDictionary))), "--Select Activity--")

                    @Html.DropDownListFor(m => m.selectActivity, new SelectList(Model.activityDictionary, "Value", "Key"))

                    @Html.DropDownList("SelectState", new SelectList(Enum.GetValues(typeof(Campgrounds.States))), "--Select State--")
                    <input type="submit" value="submit" />
                }*@
            @*<form asp-controller="Campgrounds" asp-action="Index" method="post">
                    <select asp-items="@(new SelectList(Enum.GetValues(typeof(Campgrounds.States))))" asp-for="selectState"></select>

                    <select asp-items="@(new SelectList(Model.activityDictionary, "Value", "Key"))" asp-for="selectActivity  "></select><br /><br />

                    <input type="submit" value="Submit" />
                </form>*@

            <form asp-controller="Campgrounds" asp-action="Index" method="post">
                <select asp-items="@(new SelectList(Enum.GetValues(typeof(Campgrounds.States))))" asp-for="selectState"></select>

                <select asp-items="@(new SelectList(Model.activityDictionary, "Value", "Key"))" asp-for="selectActivity  "></select><br /><br />

                <input type="submit" value="Submit" />
            </form>

        </div>
    </div>
</div>